body{
    font-family: jaldi;
}
.container{
    width:100%;
  
}
.header{
    height:80px;
    background-color: #127faf;
    color:white;
   align-items: center;
    display: flex;
    justify-content:space-between;
   
    
}
.header a{
    text-decoration:none;
    color:#ffffff;
    
}
.header #logo{
    float:left;
    margin:50px;
    font-size:30px;
}
.navbar{
    display: inline-block;
    vertical-align:middle;
}
.navbar ul{
    list-style: none;
    display:inline;
    margin:50x;
}
.navbar li{
    float: left;
    margin-left:70px;
    display: inline;
    vertical-align: middle; 
}
.container #text{
    display: flex;
    margin-top:100px;
    flex-direction: column;
    align-items:center;
}
.container .body-text{
    font-size:3em;
    text-align: center;
}