.loan-container{
    display:flex;
    margin-top:40px;
    justify-content:center; 
    width:100%;
    text-align:center;
}
#loan-form{
    margin:0 auto;
} 
#form-header{
    margin-bottom: 40px;
}
#loan-form input[type=text]{
    width:400px;
    margin:10px;   
    height: 40px;
}
#loan-form input[type=number]{
    width:400px;
    margin:10px;   
    height: 40px;
}
#loan-form input[type=date]{
    width:400px;
    margin:10px;   
    height: 40px;
}
#loan-form h3{
    text-align:center;
}
#duration{
    margin:10px;  
}
#loan-form .button{
    background-color: #127faf;
    border: none;
    color: white;
    padding: 15px 32px;
    margin:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    align-self: center;
}