.register-container{
    display:flex;
    margin-top:40px;
    justify-content:center; 
    width:100%;
    text-align: center;
}
#register{
    font-weight:bolder;
    border-bottom: 2px solid #ffffff;
}
#register-form{
    margin:0 auto;
} 
#register-form form #first{
    width:400px;
    margin:10px;   
    height: 40px;
}
#register-form form #last{
    width:400px;
    margin:10px;
    height: 40px;
}
#register-form form #email{
    width:400px;
    margin:10px;
    height: 40px;
}

#register-form form #password{
    width:400px;
    margin:10px;
    height: 40px;
}
#register-form form #confirm-password{
    width:400px;
    margin:10px;
    height: 40px;
}
#register-form .button{
    background-color: #127faf;
    border: none;
    color: white;
    padding: 15px 32px;
    margin:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    align-self: center;
}